In [70]:
# +
# Imports
import jupytext
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.model_selection import train_test_split

import numpy as np

# +
# Read dataframes

df = pd.DataFrame(pd.read_csv("train.csv"))
test = pd.read_csv("test.csv")

In [6]:
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [7]:
list(df)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [81]:
name_col = df.loc[:,"Name"]

In [90]:
#print(name_col)
print(name_col.str.split(",",0))

0                             [Braund,  Mr. Owen Harris]
1      [Cumings,  Mrs. John Bradley (Florence Briggs ...
2                              [Heikkinen,  Miss. Laina]
3        [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                            [Allen,  Mr. William Henry]
                             ...
886                             [Montvila,  Rev. Juozas]
887                      [Graham,  Miss. Margaret Edith]
888          [Johnston,  Miss. Catherine Helen "Carrie"]
889                             [Behr,  Mr. Karl Howell]
890                               [Dooley,  Mr. Patrick]
Name: Name, Length: 891, dtype: object

In [80]:
s1 = pd.DataFrame(name_col.str.split(",", n=1, expand = True))
s1.columns = ["Surname", "Other"]

s2 = pd.DataFrame(s1["Other"].str.split(".", n = 1, expand = True))
s2.columns = ["Title", "Other"]

s3 = pd.DataFrame(s2["Other"].str.split(" ", n = -1, expand = True))

name_split = pd.DataFrame(s1["Surname"]).join(pd.DataFrame(s2["Title"])).join(s3)


#name_split_2 = name_split[:,1].str.split(".", n=-, expand = True)


print(name_split["Title"])

0         Mr
1        Mrs
2       Miss
3        Mrs
4         Mr
       ...
886      Rev
887     Miss
888     Miss
889       Mr
890       Mr
Name: Title, Length: 891, dtype: object

In [75]:
#Look at string stub

str_stub = pd.DataFrame(name_split[3])
str_stub.replace("", np.nan, inplace = True)
str_stub.dropna()

              3
1     (Florence
3         (Lily
8    (Elisabeth
9        Achem)
14     Adolfina
..          ...
875      "Jane"
879       (Lily
880     Parrish
885     Norton)
888    "Carrie"

[187 rows x 1 columns]

In [ ]:
#Function to get title from name

def getTitle(name_col):
    
    s1 = pd.DataFrame(name_col.str.split(",", n=1, expand = True))
    s1.columns = ["Surname", "Other"]

    s2 = pd.DataFrame(s1["Other"].str.split(".", n = 1, expand = True))
    s2.columns = ["Title", "Other"]
    
    return s2["Title"]

In [ ]:
print(getTitle(name_col))